@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model DemoDMS.Models.Document

@{
    ViewData["Title"] = Localizer["Create"];
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["Document"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Documents" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UserName" class="control-label">@Localizer["UserName"]</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Category" class="control-label">@Localizer["Category"]</label>
                <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FilePath" class="control-label">@Localizer["FilePath"]</label>
                <input asp-for="FilePath" type="file" name="files" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
                <a asp-action="Index"><button type="button" class="btn btn-secondary">@Localizer["Return"]</button></a>
            </div>

            <div class="form-group">
                <label for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
