@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model DemoDMS.Models.Document

@{
    ViewData["Title"] = Localizer["Create"];
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["Document"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Documents" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="StudentName" class="control-label">Student Name</label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Degree" class="control-label">Degree</label>
                <select asp-for="Degree" asp-items="@Html.GetEnumSelectList<Degree>()" class="form-control"></select>
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Faculty" class="control-label">Faculty</label>
                <select asp-for="Faculty" asp-items="@Html.GetEnumSelectList<Faculty>()" class="form-control"></select>
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Faculty</label>
                <select asp-for="Department" asp-items="@Html.GetEnumSelectList<Department>()" class="form-control"></select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="YearOfPublication" class="control-label">YearOfPublication</label>
                <input asp-for="YearOfPublication" class="form-control" />
                <span asp-validation-for="YearOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Supervisor" class="control-label">Supervisor</label>
                <input asp-for="Supervisor" class="form-control" />
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="FilePath" class="control-label">@Localizer["FilePath"]</label>
                <input asp-for="FilePath" type="file" name="files" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
                <a asp-action="Index"><button type="button" class="btn btn-secondary">@Localizer["Return"]</button></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
