@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model DemoDMS.Models.Document

@{
    ViewBag.title = @Localizer["Delete"];
}

<h1>@Localizer["Delete"]</h1>


<h3>@Localizer["Are you sure you want to delete this?"]</h3>

<h4>@Localizer["Document"]</h4>

<br>

<div>
    <dl class="row">
         <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Name)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.AuthorName)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.SupervisorName)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Level)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Department)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Faculty)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.PublicationDate)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Extension)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.DateCreated)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.DateModified)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Size)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.FilePath)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.FileType)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-controller="Folders" asp-action="Index" asp-route-id="@ViewBag.parentId"><button type="button" class="btn btn-secondary">@Localizer["Return"]</button></a>
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
    </form>
</div>
