@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model DemoDMS.Models.Folder

@{
    ViewBag.Title = Localizer["Create"];
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["Folder"]</h4>

<br>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-parentId="@ViewBag.parentId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <br>

            <div class="form-group">
                <a asp-action="Index" asp-route-id="@ViewBag.ParentId"><button type="button" class="btn btn-secondary">@Localizer["Return"]</button></a>
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
