@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model dynamic

@{
    ViewBag.Title = Localizer["Index"];
}

<h1>@Localizer["Index"]</h1>

<br>

<form asp-controller="Folders" asp-action="Index" method="get">
    <p>
        <a asp-action="Index" asp-route-id="@ViewBag.ParentId"><i class="fas fa-arrow-right fa-lg"></i></a>
        <a asp-action="Create" asp-route-id="@ViewBag.currentID"><button type="button" class="btn btn-success">@Localizer["New Folder"]</button></a>
        <a asp-controller="Documents" asp-action="Create" asp-route-parentId="@ViewBag.currentID"><button type="button" class="btn btn-success">@Localizer["New Document"]</button></a>
        <input type="text" class="form-text" style="display:inline; white-space:nowrap;" name="SearchString" value="@ViewBag.searchString"/>
        <input type="submit" class="btn btn-secondary" value="@Localizer["Search"]"/>
    </p>
</form>

<br>

<table class="table sortable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Localizer[Html.DisplayNameForInnerType(((Document document) => document.Name))]
            </th>
            <th>
                @Localizer[Html.DisplayNameForInnerType(((Document document) => document.DateCreated))]
            </th>
            <th>
                @Localizer[Html.DisplayNameForInnerType(((Document document) => document.DateModified))]
            </th>
            <th>
                @Localizer[Html.DisplayNameForInnerType(((Document document) => document.Size))]
            </th>
            <th>
                @Localizer[Html.DisplayNameForInnerType(((Document document) => document.Extension))]
            </th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Folder folder in Model.Folders) {
            <tr>
                <td>
                    <i class="fas fa-folder fa-lg" style="color:Khaki"></i>
                </td>
                <td>
                    <a asp-action="index" asp-route-id="@folder.Id" style="text-decoration: none;">@Html.DisplayFor(folderItem => folder.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(folderItem => folder.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(folderItem => folder.DateModified)
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@folder.Id"><i class="fas fa-edit fa-lg" style="color:orange"></i></a> 
                    <a asp-action="Delete" asp-route-id="@folder.Id"><i class="fas fa-trash fa-lg" style="color:red"></i></a>
                </td>
            </tr>
        }
        @foreach (Document document in Model.Documents)
        {
            <tr>
                <td>
                    <i class="fas fa-file fa-lg" style="color:grey"></i> 
                </td>
                <td>
                    <a asp-controller="Documents" asp-action="Details" asp-route-id="@document.Id" style="text-decoration: none;">@Html.DisplayFor(documentItem => document.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(documentItem => document.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(documentItem => document.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(documentItem => document.Size)
                </td>
                <td>
                    @Html.DisplayFor(documentItem => document.Extension)
                </td>
                <td> 
                    
                    <a asp-controller="Documents" asp-action="Edit" asp-route-id="@document.Id"><i class="fas fa-edit fa-lg" style="color:orange"></i></a>
                    <a asp-controller="Documents" asp-action="Delete" asp-route-id="@document.Id"><i class="fas fa-trash fa-lg" style="color:red"></i></a>
                    <a asp-controller="Documents" asp-action="Details" asp-route-id="@document.Id"><i class="fas fa-info-circle fa-lg"></i></a> 
                    <a asp-controller="Documents" asp-action="Download" asp-route-id="@document.Id"><i class="fas fa-download fa-lg" style="color:green"></i></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>