@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Document Managment System"]</h1>
    <p><small>
        @Localizer["A system made for storing, editing, searching and downloading files"]
        <br>
        @Localizer["By: M.Ali.A and M.Parsa.T"]
    </small></p>
    <a asp-controller="Folders" asp-action="Index" ><button type="button" class="btn btn-primary">@Localizer["View Documents"]</button></a>
</div>

<br>
<br>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <center><i class="fa fa-pencil fa-6x" style="margin:30px; color: orange"></i></center>
      <div class="card-body">
        <h5 class="card-title">@Localizer["Edit and Download"]</h5>
        <p class="card-text">@Localizer["Edit and view files and document data with just a few clicks. Using the action buttons you can easily delete or download any document."]</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center><i class="fas fa-file fa-6x" style="margin:30px; color: DarkSlateGrey"></i></center>
      <div class="card-body">
        <h5 class="card-title">@Localizer["Keep Your Files Organized"]</h5>
        <p class="card-text">@Localizer["Electronic document storage increases productivity and security, while reducing costs and human error. Using a DMS can improve file accessibility and keeps everything nice and tidy."]</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center><i class="fas fa-search fa-6x" style="margin:30px; color: DodgerBlue"></i></center>
      <div class="card-body">
        <h5 class="card-title">@Localizer["Search and Sort"]</h5>
        <p class="card-text">@Localizer["Search through files to increase accessibility. Click any column to sort all documents by that paramater. You can sort both in ascending and descending order."]</p>
      </div>
    </div>
  </div>
</div>